<div class="container">
  <div class="row formstyle">
    <div class="col-lg-4 col-sm-12"></div>
    <div class="col-lg-4 col-sm-12 fg">
      <br>
      <h1 class="sign">Signup</h1>
      <br>
      <form [formGroup]="form">
        <div class="form-group">
          <input type="text" class="form-control" id="signupname" formControlName="name" placeholder="Enter Name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="signupemail" formControlName="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="signuppassword" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="language" id="signuplanguage" placeholder="Select Language">
                        <option *ngFor="let language of languages" value={{language.id}}>{{language.name}}
                        </option>
                    </select>
          </div>
        <button type="submit" class="btn btn-primary" (click)="signup();">SignUp</button>
        <br>
        <div>Have an account ?<a class="account" [routerLink]="['/login']"> Login </a></div>
      </form>
      <br>
    </div>
    <div class="col-lg-4 col-sm-12"></div>
  </div>
</div>